* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Nunito;
  /*background-image: url("mnt_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;*/
  /*background-color: rgba(18,18,18,1);*/
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
  color: rgba(0,0,0,0.5);
  margin-bottom: 10px;
}
p {
  font-size: 1em;
}


#flexcontainerTop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  border: 0px solid blue;
}

#flexcontainerTop.transition {
  height: 400px;
}

header {
  border: 0pxpx solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profilepicture img {
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  display: block;
}

.description {
  margin-top: 10px;
  text-align: center;
}

nav {
  border: 0px solid blue;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  justify-content: center;
}

nav a, .smallbutton{
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: white;
  margin: 10px;
  width: 106px;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.7);
  outline: 0;
}

@media screen and (max-width: 375px) {
  nav {
    margin: 30px 0px 0px 0px; !IMPORTANT
  }

  nav a, .smallbutton {
    margin: 5px; !IMPORTANT
  }
}

nav a:hover, .smallbutton:hover{
  cursor:pointer;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 3%, rgb(255, 255, 255) 4%, rgb(255, 255, 255) 100%);
  padding-top: 6px;
  padding-bottom: 4px;
  box-shadow: 0px 0px 0px 0px rgba(81, 130, 49,0.77);
}

.fa-github-square, .fa-linkedin, .fa-file-alt {
  margin-right: 5px;
}


#flexcontainerPortfolio {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

#flexcontainerPortfolio.visible {
  display: flex;
}

.subflex {
  display: flex;
  border: 0px solid black;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
}

.card {
  background-color: rgba(255,255,255,1);
  width: 300px;
  min-height: 420px;
  height: auto;
  margin: 10px;
  border: 0px solid black;
  border-radius: 5px;
  padding-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  transition: all .2s ease;
  overflow: hidden;
}

.card img {
  border: 0px solid blue;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 0px solid rgba(0,0,0,0.3);
  height: 200px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.card h2, h3, p {
  margin-left: 20px;
  margin-right: 20px;
}

#awesomeIcon {
  border: 0px solid blue;
  width: 100%;
  margin-top: 20px;
  transform: scale(0.5);
  margin-bottom: 20px;
  border-bottom: 0px solid rgba(0,0,0,0.3);
  height: 200px;
  object-fit: contain;
}

.graphic h2 {
  margin-bottom: 10px;
}

/* Saved because of good looking button*/
.actions {
  border: 0px solid blue;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.actions a {
  text-decoration: none;
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  background-color: rgb(124, 196, 76);
  box-shadow: 0px 3px 0px 0px rgba(81, 130, 49,0.77);
}

.actions a:hover {
  background: linear-gradient(180deg, rgba(81, 130, 49,0.77) 0%, rgba(81, 130, 49,0.77) 3%, rgb(124, 196, 76) 4%, rgb(124, 196, 76) 100%);
  padding-top: 18px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 0px 0px rgba(81, 130, 49,0.77);
}
