* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Nunito;
}

.flexcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  border: 0pxpx solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profilepicture img {
  width: 100%;
  max-width: 150px;
  display: block;
}

.description {
  margin-top: 10px;
  text-align: center;
}

nav {
  border: 0px solid blue;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  justify-content: space-around;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.7);
}

nav a:hover{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 3%, rgb(255, 255, 255) 4%, rgb(255, 255, 255) 100%);
  padding-top: 6px;
  padding-bottom: 4px;
  box-shadow: 0px 0px 0px 0px rgba(81, 130, 49,0.77);
}

.fa-github-square, .fa-linkedin, .fa-file-alt {
  margin-right: 5px;
}

.actions {
  border: 0px solid blue;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.actions a {
  text-decoration: none;
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  background-color: rgb(124, 196, 76);
  box-shadow: 0px 3px 0px 0px rgba(81, 130, 49,0.77);
}

.actions a:hover {
  background: linear-gradient(180deg, rgba(81, 130, 49,0.77) 0%, rgba(81, 130, 49,0.77) 3%, rgb(124, 196, 76) 4%, rgb(124, 196, 76) 100%);
  padding-top: 18px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 0px 0px rgba(81, 130, 49,0.77);
}
